@using global::SalesSummary.Models

<div class="card bg-warning text-dark mb-3">
    <div class="card-header">
        Discount Summary
    </div>
    <div class="card-body">
        <p class="card-text">Total Units Sold by Discount: @TotalUnitsSold</p>
    </div>
</div>


